/* stylelint-disable declaration-block-no-duplicate-properties */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.menu_contaner {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: #252525;
}

.menu_contaner .wrapper {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainPro a {
  border-bottom: 1px solid #fff;
  color: #fff;
}

#iconX {
  align-self: end;
  color: #fff;
  padding: 20px 20px 0 0;
}

.options {
  padding-left: 20px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.featurdSpeakerFooter a,
.featurdSpeakerFooter_1 a {
  color: #fff;
}

.options li a {
  color: #fff;
  font-size: 2rem;
}

.hero {
  height: 100vh;
  background-image: url(./imgs/homeBG.png);
}

.navBars {
  position: fixed;
  width: 100%;
  box-shadow: 2px 4px 9px rgba(56, 56, 56, 0.424);
}

.partener li {
  color: rgba(255, 255, 255, 0.554);
}

.programs li {
  background-color: rgba(255, 255, 255, 0.233);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.speaker ul li {
  background-color: #fff;
  max-height: 130px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.speakerInfo ul li {
  font-weight: 500;
}

.partener li:hover {
  color: rgba(255, 255, 255, 0.801);
}

.blackbar {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #272a31;
}

.blackbar .contaner {
  width: 320px;
  margin-right: 20%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav_2 p {
  color: rgb(87, 86, 86);
}

.featuredTitle h1 {
  color: #000;
  font-weight: 500;
}

.logoConyaner h1 {
  font-weight: 400;
}

.hreoContaner i {
  display: none;
}

.speaker > ul {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem 1.3rem;
}

.speakerOccupation p {
  color: #ec5242;
}

.speakerInfo,
.speakerInfo ul {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.speakerInfo h2 {
  color: #312244;
}

.programs li i {
  color: #fff;
}

.programs li:hover {
  border: 3px solid #fff;
}

.programs li h2 {
  color: #ec5242;
}

.navLinks li a {
  color: #272a31;
  font-weight: 500;
}

.about .contaner a {
  margin-top: -47px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.navLinks li a:hover {
  color: #ec5242;
}

.blackbar .contaner ul li a,
.blackbar .contaner i {
  color: #fff;
}

.blackbar .contaner ul {
  display: flex;
  flex-direction: row;
}

.navLinks {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

#ICTLogo a {
  color: #ec5242;
  padding: 10px;
  border: 4px solid #ec5242;
}

.blackbar .contaner ul li {
  margin-right: 20px;
}

.navBar {
  background-color: #fff;
  position: sticky;
  display: flex;
  justify-content: center;
}

.navBar .contaner {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar .contaner i {
  display: none;
}

.speakerImg img {
  max-width: 100%;
  max-height: 180px;
}

.navBar .contaner img {
  height: 90px;
}

.mainProTitle h1 {
  color: rgb(219, 219, 219);
  font-weight: 400;
}

.hreoContaner {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hreoContaner .content {
  margin-top: 400px;
  width: 75%;
  height: 75%;
}

.hreoContaner .content h2 {
  font-size: 3rem;
  color: #ec5242;
}

.hreoContaner .content h1 {
  font-size: 5.6rem;
  color: #ec5242;
}

.aboutP {
  padding: 14px;
  width: 60%;
  background-color: #f0efef;
  border: 3px solid #fff;
}

.date {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: bold;
  color: #272a31d0;
}

.date p {
  font-weight: 400;
}

.mainPro {
  width: 100%;
  height: 100vh;
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainProTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainProTitle hr {
  width: 80px;
  margin-top: 10px;
  border: 1px solid #ec5242;
}

.programs {
  width: 70%;
  height: 17rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}

.logoConyaner p {
  text-align: center;
}

.programs li p {
  text-align: center;
  margin-left: 10px;
  color: #fff;
}

.button {
  display: none;
}

.speakersContaner {
  padding: 50px;
  background-color: #e9e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.featuredTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredTitle hr {
  border: 1px solid #ec5242;
  width: 3rem;
}

.speaker {
  width: 67%;
  height: 76%;
}

.speakerbutton {
  display: none;
}

.featurdSpeakerFooter,
.featurdSpeakerFooter_1 {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #272a31;
}

.featurdSpeakerFooter_1 {
  display: none;
}

.speakerImg {
  width: 40%;
  height: 100%;
  padding-right: 18px;
  overflow-y: hidden;
}

.fofo {
  margin-right: -80px;
}

.partener {
  width: 65%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featurdSpeakerFooter hr,
.featurdSpeakerFooter_1 hr {
  width: 40px;
  border: 1px solid #ec5242;
}

.underFootercontaner {
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-around;
}

.newunderFooter {
  background-color: #272a31;
  display: flex;
  justify-content: space-around;
}

.newunderFooter .nextToLogoImg {
  color: #fff;
}

.underFooter {
  width: 60%;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about .wrapper {
  height: 100vh;
  background-image: url('./imgs/homeBG.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .contaner {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about .contaner .nav_2 {
  width: 190px;
  display: flex;
  align-self: end;
  margin-right: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav_2 i:nth-child(1) {
  color: rgb(87, 86, 86);
}

.nav_2 i:nth-child(2),
.nav_2 i:nth-child(4) {
  color: #ec5242;
}

.about .contaner h1 {
  text-align: center;
  font-size: 5.6rem;
  color: #ec5242;
}

.about .contaner h2 {
  color: #ec5242;
  display: none;
}

.about .wordes {
  text-align: center;
  background-color: #fff;
  width: 60%;
  box-shadow: 2px 4px 6px rgba(134, 134, 134, 0.157);
  padding: 1.3rem 2rem;
}

.logoWrapper,
.seeBestWrapper {
  width: 100%;
  height: 50vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgba(153, 152, 152, 0.267);
  border-bottom: 2px solid rgba(153, 152, 152, 0.267);
}

.logoConyaner,
.seeBestContaner {
  width: 40%;
  height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logoConyaner hr,
.seeBestContaner hr {
  border: 1px solid #ec5242;
  width: 50px;
  margin: -50px 0;
}

.logoConyaner div {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 2px solid rgba(194, 194, 194, 0.411);
}

.seeImgs {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.seeim1 {
  background-image: url('./imgs/see1.jpg');
  object-fit: cover;
  object-position: bottom;
  height: 230px;
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 4;
  color: #fff;
  background-color: #ec53427e;
}

.seeim2 {
  background-image: url('./imgs/see2.jpg');
  object-fit: cover;
  object-position: bottom;
  height: 230px;
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastFooter {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero {
    /* width: 100vh; */
    height: auto;
    background-image: url('./imgs/homeBG.png');
    overflow: hidden;
  }

  .seeBestContaner h1 {
    font-weight: 500;
  }

  .hreoContaner {
    width: 100%;
    padding: 70px 30px 70px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .hreoContaner i {
    display: block;
    margin-bottom: 40px;
  }

  .menu {
    z-index: 1;
    position: fixed;
    top: 20px;
    left: 20px;
  }

  .featuredTitle h1 {
    font-weight: 500;
  }

  .hreoContaner .content {
    margin-top: 0;
    width: 100%;
  }

  .speakerInfo h2 {
    color: #312244;
  }

  .speakerInfo ul li {
    font-weight: 500;
  }

  .hreoContaner .content h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .hreoContaner .content h1 {
    font-size: 2.6rem;
  }

  .aboutP {
    margin-top: 20px;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }

  .date {
    margin-top: 40px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .about .contaner .nav_2 {
    display: none;
  }

  .date p {
    font-weight: 400;
  }

  .navBars {
    display: none;
  }

  .mainPro {
    height: 100vh;
    padding: 20px;
  }

  .programs {
    width: 100%;
    height: 17rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .speakerbutton i {
    color: #ec5242;
    margin-left: 10px;
  }

  .programs li i {
    color: #fff;
  }

  .speaker ul li {
    background-color: #fff;
    overflow: scroll;
    flex-direction: row;
    align-items: center;
  }

  .programs li:hover {
    border: 3px solid #fff;
  }

  .speakerOccupation p {
    color: #ec5242;
  }

  .programs li p {
    font-size: 10px;
    text-align: center;
    margin-left: 10px;
    color: #fff;
  }

  .mainPro a {
    display: none;
  }

  .button {
    display: block;
    font-size: 23px;
    padding: 33px;
    color: #fff;
    background-color: #ec5242;
    border: none;
  }

  .speakersContaner {
    padding: 50px;
    background-color: #e9e8e8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .featuredTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuredTitle hr {
    border: 1px solid #ec5242;
    width: 3rem;
  }

  .speaker {
    width: 100%;
    height: 76%;
  }

  .speaker ul {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem 1.3rem;
  }

  .speakerInfo,
  .speakerInfo ul {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .speakerInfo ul li:nth-child(1) {
    font-style: italic;
    font-weight: 600;
  }

  .speaker ul li.hidable {
    display: none;
  }

  .speaker .expand > li.hidable {
    display: flex;
  }

  .speakerbutton {
    width: 100%;
    padding: 20px;
    display: block;
    background-color: #fff;
    border: 1px solid rgb(204, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .featurdSpeakerFooter {
    display: none;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #272a31;
  }

  .partener {
    width: auto;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
  }

  .underFootercontaner {
    display: none;
  }

  .about .wrapper .contaner {
    width: 100%;
  }

  .about .wrapper .contaner h1 {
    font-size: 40px;
  }

  .wordes {
    width: 90%;
    height: 200px;
    overflow: hidden;
  }

  .about .wrapper .contaner .p {
    text-align: center;
  }

  .about .wrapper .contaner h2 {
    display: block;
    margin-bottom: -20px;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .logoWrapper {
    height: 60vh;
  }

  .logoConyaner {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .seeBestWrapper {
    height: 90vh;
  }

  .seeBestContaner {
    width: 80%;
    text-align: center;
  }

  .seeImgs {
    flex-direction: column;
  }

  .featurdSpeakerFooter_1 {
    display: flex;
    height: auto;
    padding: 0 15px;
  }

  .lastFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 10px 5px 10px;
  }

  .newunderFooter {
    display: none;
  }

  .lastFooter img {
    max-width: 40%;
  }
}
